<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Address of the cluster. e.g. mycluster.westus.cloudapp.azure.com -->
    <add key="ClusterAddress" value="kailaslltbig1.eastus.cloudapp.azure.com" />

    <!--Endpoint used by clients to connect to the cluster to perform management and query operations.-->
    <add key="ClientConnectionEndpoint" value="19000" />

    <!--Endpoint used by clients to connect to the reverse proxy.-->
    <add key="ReverseProxyEndpoint" value="19081" />

    <!--Thumbprint of server certificate-->
    <add key="ServerCertificateThumbprint" value="DC825A3E869DE03F4FD58CE61B72304507F4F5E5" />

    <!--Thumbprint of client certificate-->
    <add key="ClientCertificateThumbprint" value="DC825A3E869DE03F4FD58CE61B72304507F4F5E5" />

    <!--Total number of write operations to be performed on the service.-->
    <add key="NumWriteOperationsTotal" value="1000000" />

    <!--Number of write operations sent to the service at any given time.-->
    <add key="NumOutstandingWriteOperations" value="5" />

    <!--Total number of read operations to be performed on the service.-->
    <add key="NumReadOperationsTotal" value="1000000" />

    <!--Number of read operations sent to the service at any given time.-->
    <add key="NumOutstandingReadOperations" value="5" />

    <!--Size in bytes of the data associated with each operation (i.e. read or write) performed on the service.-->
    <add key="OperationDataSizeInBytes" value="1024" />

    <!--Number of items (e.g. number of rows in a table) that the operations are distributed across in the service.-->
    <add key="NumItems" value="1000000" />

    <!--Number of clients used to perform the operations on the service.-->
    <add key="NumClients" value="1" />

    <!--Target service type on which the operations should be performed. Supported values are the values of the TargetService.Types enumeration defined in TargetService.cs-->
    <add key="TargetServiceType" value="SfDictionary" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="64" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.FabricTransport" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.Internal" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceFabric.Data.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Storage.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
