<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- This is used by the StateManager's replicator. -->
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.00"/>
    <!-- Ack back immediately, no batch acking interval-->
    <Parameter Name="MaxRecordSizeInKB" Value="10240" />
    <!-- Largest record size that the replicator may write in the log. This value must be a multiple of 4 and greater than 16. This is equivalent to 10 MB. This is being kept high to account for future scalability-->
    <!--<Parameter Name="OptimizeForLocalSSD" Value="true" />-->
  </Section>
  <Section Name="NativeRunConfiguration">
    <Parameter Name="EnableNativeReliableStateManager" Value="true" />
    <Parameter Name="Test_LoadEnableNativeReliableStateManager" Value="true"/>
  </Section>
  <!-- This is used for securing StateManager's replication traffic. -->
  <Section Name="ReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="X509" />
    <Parameter Name="FindType" Value="FindByThumbprint" />
    <Parameter Name="FindValue" Value="Thumbnail" />
    <Parameter Name="StoreLocation" Value="LocalMachine" />
    <Parameter Name="StoreName" Value="My" />
    <Parameter Name="ProtectionLevel" Value="EncryptAndSign" />
  </Section>
  <!--<Section Name="ApplicationInsights">
    <Parameter Name="InstrumentationKey" Value="" />
  </Section>-->
  <!-- Add your custom configuration sections and parameters here. -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->
</Settings>
